.progress-bar {
    width: 0%;
}

.font-weight-bigger {
    font-size: 28px;
}

.font-weight-smaller {
    font-size: 12px;
}

.font-weight-bigger .pict {
    font-size: 28px;

}

.font-weight-smaller .pict {
    font-size: 12px;

}

.pict {
    padding: 5px;
    padding-right: 6px;
    border-radius: 7px;
    background: linear-gradient(to bottom, #b1f8ff, #3f79ff);
    margin-bottom: 6px;
    line-height: 2;
    color: white;
}


@media (max-width: 1200px) {
    h4{
        font-size: 2rem;
        font-weight: bold;
    }
    p {
        font-size: 2rem;
    }

    .font-weight-bigger {
        font-size: 2.4rem;
    }

    .font-weight-smaller {
        font-size: 1.5rem;
    }
}